// image grid
.rka-image-tile {
  background: $clr-gray-lightest;
  width: 100%;
  height: 160px;
  position: relative;
  background-size: cover;
  background-position: center;
  margin-top: $space-md;
  border: 1px solid rgba(0,0,0,.3);
  z-index: 0;

  &.is-uploaded {
    animation: .5s ease flash;
  }

  &.is-clickable {
    cursor: pointer;

    &:hover {
      border-color: $clr-brand;
      box-shadow: 0 0 0 2px $clr-brand;

      .rka-image-tile-link {
        transition: transform .2s ease;
        transform: translateY(0);
      }
    }
  }

  &.is-highlighted {
    border-color: $clr-brand-light;
    box-shadow: 0 0 0 2px $clr-brand-light;
  }
}

.rka-image-tile-hd {
  height: 120px;
  line-height: 88px;
  padding: $space-md;
  text-align: center;

  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGklEQVQYlWN48ODBf3TMgA0MBYWDzDkUKQQA/Su1D0qvFnQAAAAASUVORK5CYII=') repeat;

  img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
  }
}
.rka-image-tile-link {
  transition: transform .2s ease;
  transform: translateY(100%);
  background: rgba(255,255,255,.8);
  line-height: normal;
  padding: $space-sm;
  margin: 0;
  position: absolute;
  bottom: 38px;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 1;
  .rka-link-icon {
    position: absolute;
    margin-left: $space-xs;
  }
}

.rka-image-tile-ft {
  position: relative;
  z-index: 2;
  height: 38px;
  line-height: 38px;
  background: $clr-white;
  padding: 0 $space-md;
  font-size: $font-xs;
  clear: right;

  .rka-image-tile-name {
    width: 48%;
    background-color: $clr-white;
  }

  .rka-image-tile-specs {
    text-align: right;
    float: right;
    margin-left: $space-xs;
    color: $clr-gray-darkest;
    width: 48%;
  }
}

.rka-image-preview-link {
  display: block;
  font-size: 14px;
  float: right;
  color: $clr-white;
  text-decoration: none;
}

.rka-image-checkbox-container {
  display: block;
  position: absolute;
  top: $space-md;
  right: $space-md;
}

.rka-hash-link {
  display: block;
  margin-top: $space-xs;

  @include media($desktop) {
    display: inline-block;
    margin-top: 0;
  }

  .rka-link-icon {
    position: absolute;
    margin-top: -4px;
    margin-left: 2px;
  }
}

.rka-link-icon {
  width: 22px;
  height: 22px;
}

@keyframes flash {
  from {
    background: $clr-gray-lightest;
  }
  50% {
    background: $clr-brand;
    opacity: 0.5;
  }
  to {
    background: $clr-gray-lightest;
  }
}
