.rka-login-page {
  transition: opacity .5s ease;
  background: linear-gradient($clr-gray-lightest, $clr-gray) no-repeat fixed;
  overflow-x: hidden;

  @include media($mobile) {
    min-height: 100vh;
    background: $clr-white;
  }

  &.login-transition-appear {
    .rka-login-container {
      opacity: 0;
      transform: translate(-50%, -80%);

      @include media($mobile) {
        transform: translate(0,0);
      }
    }

    &.login-transition-appear-active {
      .rka-login-container {
        opacity: 1;
        transform: translate(-50%, -50%);
        transition: opacity .3s ease, transform .3s ease;

        @include media($mobile) {
          transform: translate(0,0);
          transition: opacity .3s ease;
        }
      }
    }
  }

  &:after {
    content: '';
    background: $clr-brand;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    left: 0;
    z-index: -1;
  }

  &.login-transition-leave {
    &:after {
      height: 64px;
      opacity: 1;
      z-index: 1;
      transition: opacity .3s ease, height .5s cubic-bezier(.2,.65,.94,.96);
      transition-delay: .3s;
    }

    .rka-login-container {
      opacity: 0;
      transform: translate(-50%, -80%);
      transition: opacity .5s ease, transform .5s ease;

      @include media($mobile) {
        transform: translate(0, 0);
      }
    }
  }
}

.rka-signup-container,
.rka-login-container {
  word-break: break-word;
  background: $clr-white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rka-login-container {
  @include media($desktop) {
    width: 700px;
    height: 270px;
  }

  @include media($tablet) {
    position: absolute;
    width: 50%;
  }

  @include media($mobile) {
    overflow-x: hidden;
    width: 100%;
    position: static;
    transform: translate(0, 0);
  }
}

.rka-signup-container {
  @include media($desktop) {
    width: 750px;
    height: 440px;
  }

  @include media($tablet) {
    position: absolute;
    width: 50%;
  }

  @include media($mobile) {
    width: 100%;
    position: static;
    transform: translate(0, 0);
  }
}

.rka-signup-brand,
.rka-login-brand {
  background: linear-gradient(14deg, $clr-brand-lightest 0%, $clr-brand 58%);
  padding: $space-lg $space-md;
  height: 200px;

  @include media($desktop) {
    padding: $space-lg $space-lg $space-lg $space-lg;
  }
}

.rka-login-brand {
  @include media($desktop) {
    height: 270px;
  }
}

.rka-signup-brand {
  height: 240px;
  @include media($desktop) {
    height: 440px;
  }
}

.rka-login-brand-powered {
  font-size: $font-sm;
  color: $clr-white;
  position: absolute;
  bottom: $space-lg;
  right: $space-lg+12px;

  @include media($tablet) {
    bottom: $space-md;
    left: 22px;
  }
}

.rka-signup-form-container,
.rka-login-form-container {
  background: $clr-white;
  padding: $space-md;

  @include media($desktop) {
    padding: $space-lg $space-lg $space-lg $space-sm;
  }
}

.rka-login-form-container {
  @include media($desktop) {
    height: 270px;
  }
}

.rka-signup-form-container {
  word-break: break-word;
  @include media($desktop) {
    height: 440px;
  }
}
