.rka-stacks-list {
  overflow: hidden;
  overflow-y: auto;
  height: calc(100vh - 350px);
}

.rka-stack-tile {
  transition: .2s ease background;
  background: $clr-white;
  font-size: $font-lg;
  color: $clr-black;
  display: block;
  padding: $space-sm $space-md;
  margin-bottom: 1px;
  text-decoration: none;

  &:hover {
    transition: .1s ease background;
    background: $clr-gray-lighter;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.rka-stack-img-container {
  position: relative;
  background: $clr-gray-lightest;
  margin: 0 auto;
  overflow: hidden;

  .is-error + img {
    display: none;
  }

  img {
    display: inline-block;
    padding: $space-md;
    vertical-align: top;
  }

  &:nth-child(odd) {
    border-top: 1px solid $clr-gray-lighter;
  }
}

.rka-stacks-new-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.rka-operation-content {
  display: none;

  .is-active & {
    margin-top: $space-md;
    display: block;
  }
}

.rka-stacks-search-container {
  position: relative;
  padding: $space-sm $space-md $space-sm $space-md+$space-sm;
}

.rka-stack-search {
  transition: border .3s ease;
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,.1);
  background: none;
  color: $clr-white;
  height: 28px;
  line-height: 28px;
  padding: 0 $space-lg 0 0;

  &:focus {
    transition: border .3s ease;
    border-color: $clr-white;

    & + .rka-stack-search-icon {
      color: $clr-white;
    }
  }
}

.rka-stack-search-icon {
  width: 16px;
  height: 16px;
  color: $clr-gray-dark;
  position: absolute;
  top: 14px;
  right: 20px;
}
