:root {
  --liip-etica-book: 'Liip Etica Book';
  --liip-etica-semibold: 'Liip Etica SemiBold';
}
body {
  font-family: var(--liip-etica-book);
}
@font-face {
  font-family: var(--liip-etica-book);
  font-weight: 100;
  src: url('./fonts/LFT_Etica_Book_Liip.eot');
  src: url('./fonts/LFT_Etica_Book_Liip.eot') format('eot'), url('./fonts/LFT_Etica_Book_Liip.woff') format('woff'),
    url('./fonts/LFT_Etica_Book_Liip.ttf') format('truetype'), url('./fonts/LiipEticaBk.svg') format('svg');
}

@font-face {
  font-family: var(--liip-etica-book);
  font-weight: 400;
  src: url('./fonts/LFT_Etica_Book_Liip.eot');
  src: url('./fonts/LFT_Etica_Book_Liip.eot') format('eot'), url('./fonts/LFT_Etica_Book_Liip.woff') format('woff'),
    url('./fonts/LFT_Etica_Book_Liip.ttf') format('truetype'), url('./fonts/LiipEticaBk.svg') format('svg');
}

@font-face {
  font-family: var(--liip-etica-book);
  font-weight: 700;
  src: url('./fonts/LFT_Etica_Book_Liip.eot');
  src: url('./fonts/LFT_Etica_Book_Liip.eot') format('eot'), url('./fonts/LFT_Etica_Book_Liip.woff') format('woff'),
    url('./fonts/LFT_Etica_Book_Liip.ttf') format('truetype'), url('./fonts/LiipEticaBk.svg') format('svg');
}

@font-face {
  font-family: var(--liip-etica-semibold);
  font-weight: 100;
  src: url('./fonts/LFT_Etica_Semibold_Liip.eot');
  src: url('./fonts/LFT_Etica_Semibold_Liip.eot') format('eot'), url('./fonts/LFT_Etica_Semibold_Liip.woff') format('woff'),
    url('./fonts/LFT_Etica_Semibold_Liip.ttf') format('truetype'), url('./fonts/LiipEticaSB.svg') format('svg');
}

@font-face {
  font-family: var(--liip-etica-semibold);
  font-weight: 400;
  src: url('./fonts/LFT_Etica_Semibold_Liip.eot');
  src: url('./fonts/LFT_Etica_Semibold_Liip.eot') format('eot'), url('./fonts/LFT_Etica_Semibold_Liip.woff') format('woff'),
    url('./fonts/LFT_Etica_Semibold_Liip.ttf') format('truetype'), url('./fonts/LiipEticaSB.svg') format('svg');
}

@font-face {
  font-family: var(--liip-etica-semibold);
  font-weight: 700;
  src: url('./fonts/LFT_Etica_Semibold_Liip.eot');
  src: url('./fonts/LFT_Etica_Semibold_Liip.eot') format('eot'), url('./fonts/LFT_Etica_Semibold_Liip.woff') format('woff'),
    url('./fonts/LFT_Etica_Semibold_Liip.ttf') format('truetype'), url('./fonts/LiipEticaSB.svg') format('svg');
}
