.rka-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  font-family: $font-brand-sb;
  font-size: $font-md;
  padding: 0 $space-lg;
  background: transparent;
  color: $clr-black;
  outline: none;
  text-decoration: none;
  line-height: 38px;
  height: 38px;
}

// button sizes
.rka-button-sm {
  height: 32px;
  padding: 0 $space-md;
  line-height: 32px;
  font-size: $font-sm;
}

.rka-button-fullwidth {
  display: block;
  width: 100%;
  text-align: center;
}

// button variances
.rka-button-brand {
  transition: .3s ease background;
  background: $clr-brand;
  color: $clr-white;

  &:hover {
    transition: .3s ease background;
    background: darken($clr-brand, 5%);
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }
}

.rka-button-negative {
  transition: .3s ease background;
  background: $clr-cranberry;
  color: $clr-white;

  &:hover {
    transition: .3s ease background;
    background: darken($clr-cranberry, 5%);
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }
}

.rka-button-secondary {
  transition: .3s ease background;
  background: $clr-gray-darkest;
  color: $clr-white;

  &:hover {
    transition: .3s ease background;
    background: darken($clr-gray-darkest, 5%);
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }
}
