$LiipEticaBook: 'Liip Achivo Book';
$LiipEticaSemiBold: 'Liip Achivo SemiBold';

// Liip Achivo Book
@font-face {
  font-family: $LiipEticaBook;
  font-weight: 100;
  src:  url('../fonts/Archivo-Regular.woff');
  src:  url('../fonts/Archivo-Regular.woff') format('woff'),
        url('../fonts/Archivo-Regular.woff2') format('woff2');

}

@font-face {
  font-family: $LiipEticaBook;
  font-weight: 400;
  src:  url('../fonts/Archivo-Regular.woff');
  src:  url('../fonts/Archivo-Regular.woff') format('woff'),
        url('../fonts/Archivo-Regular.woff2') format('woff2');
}

@font-face {
  font-family: $LiipEticaBook;
  font-weight: 700;
  src:  url('../fonts/Archivo-Regular.woff');
  src:  url('../fonts/Archivo-Regular.woff') format('woff'),
        url('../fonts/Archivo-Regular.woff2') format('woff2');
}

// Liip Achivo Bold
@font-face {
  font-family: $LiipEticaSemiBold;
  font-weight: 100;
  src:  url('../fonts/Archivo-SemiBold.woff');
  src:  url('../fonts/Archivo-SemiBold.woff') format('woff'),
        url('../fonts/Archivo-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: $LiipEticaSemiBold;
  font-weight: 400;
  src:  url('../fonts/Archivo-SemiBold.woff');
  src:  url('../fonts/Archivo-SemiBold.woff') format('woff'),
        url('../fonts/Archivo-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: $LiipEticaSemiBold;
  font-weight: 700;
  src:  url('../fonts/Archivo-SemiBold.woff');
  src:  url('../fonts/Archivo-SemiBold.woff') format('woff'),
        url('../fonts/Archivo-SemiBold.woff2') format('woff2');
}
