.rka-newstack-tabs {
  @include clearfix();

  > li {
    float: left;
  }
}

.rka-newstack-tab {
  cursor: pointer;
  font-size: $font-sm;
  padding: $space-sm $space-md;
  margin-right: $space-md;
  color: $clr-gray-darkest;
  background-color: $clr-gray-lightest;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: $clr-gray-light;
  border-radius: 0;
  position: relative;
  z-index: 1;
  margin-bottom: -1px;

  @include media($mobile) {
    padding: $space-sm;
    margin-right: $space-xs;
    font-size: $font-xs;
  }

  &:hover {
    color: $clr-black;
    background-color: $clr-white;
  }

  &.is-active {
    background-color: $clr-white;
    color: $clr-black;
  }
}
